<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>WiFi Network configuration</title>
    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="angular-material.min.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet">
    <script src="jquery.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="angular-animate.min.js"></script>
    <script src="angular-aria.min.js"></script>
    <script src="angular-material.min.js"></script>
    <script src="index.js"></script>
</head>
<body ng-controller="appController">
    <div class="container">
        <div class="header" layout="column">
            <h3>Network settings web interface - by Ngo Phuong Le</h3>
            <h4 style="color:red;" ng-if="notification">{{notification}}</h4>
        </div>        

        <md-toolbar ng-if="!rebooting">
            <div class="md-toolbar-tools">
                <h3>Networks</h3>
                <span flex="" class="flex"></span>
                <md-button class="md-raised" ng-click="onRefreshNetworks()">Refresh</md-button>
                <md-button class="md-raised md-warn" ng-click="onRebootDevice()">Reboot</md-button>
            </div>
        </md-toolbar>
        <md-list class="network-list" ng-if="!rebooting">
            <md-list-item ng-click="onClick(nw)"
                          ng-repeat="nw in networks"
                          class="network-row"
                          layout="row">
                <div class="md-list-item-text" layout="column" flex="grow">
                    <h3> {{ nw.ssid }} </h3>
                    <p> Security: {{nw.encryption}}     Strength: {{nw.signal}}db</p>
                </div>
                <div ng-if="isConnectedNetwork(nw)">
                    <h4>Connected</h4>
                </div>
            </md-list-item>
        </md-list>

        <footer class="footer">
            <!--<p>&copy; Company 2014</p>-->
        </footer>
    </div> <!-- /container -->
</body>
</html>
