# Node build artifacts
node_modules
npm-debug.log
.vscode
typings
bin
Debug
obj
out
.vs
self-learn
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# other files
heroku-clean-node-cache-.bat
typings.json
Makefile-private-var.mk